<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/errors/404</location>
    </error-page>

    <!-- Mimetype needed for tomcat to serve favicon images -->
    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>

    <!-- URL rewriter filter for SEO -->
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>


    <!-- Filter for removing jsessionid from s:urls -->
    <filter>
        <filter-name>DisableUrlSessionFilter</filter-name>
        <filter-class>com.petrpopov.voltmeter.web.other.DisableUrlSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DisableUrlSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Filter for removing jsessionid from s:urls ends -->




    <!-- Spring main servlet starts -->
    <servlet>
        <servlet-name>voltmeter</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>voltmeter</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- Spring main servlet ends -->



    <!-- Spring REST filter for hidden fields starts for DELETE requests -->
    <filter>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <servlet-name>voltmeter</servlet-name>
    </filter-mapping>
    <!-- Spring REST filter for hidden fields ends -->


    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/voltmeter-servlet.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>../resources/log4j.properties</param-value>
    </context-param>
</web-app>
